<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>
    <settings>
        <setting name="cacheEnabled" value="true"/>
    </settings>
    <typeAliases>
        <!-- 设置类的别名：别名不区分大小写,这里定义的别名可以在mapper.xml中使用 -->
        <typeAlias type="top.lwzp.mybatis.vo.Student" alias="student"/>
        <!-- 按照类所在的包自动注册别名，别名即为类名-->
        <package name="top.lwzp.mybatis.vo"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
<!--        <package name="top.lwzp.mybatis.vo"/>-->
        <mapper resource="top/lwzp/mybatis/vo/personMapping.xml"/>
        <mapper resource="top/lwzp/mybatis/vo/stuMapping.xml"/>
        <mapper resource="top/lwzp/mybatis/mapper/StudentMapping.xml"/>
    </mappers>
</configuration>